button {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid grey;
}

tr:nth-child(even) {
  background-color: #fee;
}

tr:nth-child(odd) {
  background-color: #efe;
}

td:nth-child(4) {
  padding: 0 20px;
}

th {
  background-color: #fff;
}

.butt {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  border: 1px outset darkgray;
  background-color: lightgray;
  height:22px;
  width:22px;
  cursor:pointer;
  font-size: 12px;
}

.statusGuy {
  font-size: 40px;
}

.clicked {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  border: 1px outset darkgray;
  color: inherit;
  background-color: #eee;
  height:22px;
  width:22px;
  font-size: 12px;
}

.hud {
  font-family: monospace;
  font-size: 2em;
  font-weight: 600;
}

.row {
  display: flex;
}

.playArea {
  display: inline-block;
  margin: 0 35px;
}
