button {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
}

.butt {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  /* -webkit-touch-callout: none; */
  /* Disable Android and iOS callouts*/
  border: 1px outset darkgray;
  background-color: lightgray;
  height:22px;
  width:22px;
  cursor:pointer;
  font-size: 12px;
}

.statusGuy {
  font-size: 40px;
}

.clicked {
  border: 1px outset darkgray;
  color: inherit;
  background-color: #eee;
  height:22px;
  width:22px;
  font-size: 12px;
}

.hud {
  font-family: "mono";
  font-size: 2em;
  font-weight: 600;
}

.row {
  display: flex;
}
